/* 
    Universal Box Sizing 
    This removes the need for box model math.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove the default margin from select elements. */
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
    margin: 0;
}

/* Remove default list styles from unordered lists. */
ul:not([role='list']) {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

/* Makes images responsive and easier to work with. */
img, picture {
    display: block;
    /* This makes sure the image can never be wider
       than its parent container. */
    max-width: 100%;
}

/* Removes all animations and transitions for people that
   prefer not to see them. */
@media (prefers-reduced-motion: reduce) {
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}